<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Connexion</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
    </head>
    <body>
        <!-- Barre de navigation (main.css) -->
        <nav class="navbar">
            <div class="container nav-content">
                <a href="/" class="btn btn-nav">Accueil</a>
                <div class="nav-right-group">
                    {% if session.get('user_id') %}
                    <a href="/panier" class="btn btn-nav">Panier</a>
                    {% endif %}
                    <div class="group">
                        <a href="" class="btn btn-nav"><span>Menu</span></a>
                        <div class="dropdown-menu">
                        {% if session.get('user_id') %}
                            <a href="/profil" class="dropdown-item">Profil</a>
                            <a href="/logout" class="dropdown-item">Déconnexion</a>
                        {% else %}
                            <a href="/login" class="dropdown-item">Connexion</a>
                            <a href="/register" class="dropdown-item">Inscription</a>
                        {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        <!-- Contenu de la Page -->
        <div class="login-screen">
            <div class="login-card">
                <h2 class="login-title">Connexion</h2>

                <form action="/login" method="POST">
                    <!-- email -->
                    <div class="form-group">
                        <label class="label">Email</label>
                        <input type="email" name="email" placeholder="exemple@email.com" class="input" 
                            value="{{ form_data.email if form_data else '' }}" required>
                    </div>

                    <!-- mot de passe -->
                    <div class="form-group">
                        <label class="label">Mot de passe</label>
                        <input type="password" name="password" placeholder="••••••••" class="input" 
                            value="{{ form_data.password if form_data else '' }}" required>
                        <a href="/forgot_password" class="forgot-password-link">Mot de passe oublié ?</a>
                    </div>

                    <!-- Messages flash -->
                    {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        <div class="flash-container">
                        {% for category, message in messages %}
                            <div class="flash {{ category }}">
                            {{ message }}
                            </div>
                        {% endfor %}
                        </div>
                    {% endif %}
                    {% endwith %}

                    <!-- Bouton de connexion -->
                    <button type="submit" class="btn btn-primary btn-submit-login">
                        Se connecter
                    </button>
                </form>
                <p class="login-footer-text">
                    Pas encore de compte ? <a href="/register" class="register-link">S'inscrire</a>
                </p>
            </div>
        </div>
    </body>
</html>